<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
            margin: 10px;
            align-items: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
    </style>
</head>

<body>
    <div>
        <h2><%=movie[0].name%></h2>
        <small>좌석을 선택해주세요.(최대2개)</small>
    </div>
    <div style="width: 70%;">
        <form action="/reserve" method="post">
            <input type="hidden" value="<%=movie[0].id%>" name="code">
            <p>예약 전화번호를 작성하세요</p>
            <input type="text" placeholder="010-0000-0000" name="userID"  style="margin-bottom: 10px;"/>
            <table style="margin-bottom: 10px;">
                <tr style="height: 50px; background-color: #2fc088;">
                    <td colspan="10" style="text-align: center;">스크린</td>
                </tr>
                <% for(let row=1; row<=5; row++) {%>
                    <tr>
                    <%for(let seat= 1; seat <= 10 ; seat++  ){%>
                        <td><input type="checkbox" value="<%=row +'-' + seat %>" name="seat" onchange="maxSeat(this)">
                            <p style="font-size: small;"><%=row%>열 <%=seat%>행</p>
                        </td>
                    <%}%>
                    </tr>
                <% } %>
            </table>
            <button type="submit">예약확정</button>
            <button type="reset" onclick="rst()">재선택</button>
        </form>
    </div>
    <script>
        let seatEA = [];
        /*
            onchange(onclick) ="maxSeat(event)"일 경우
            function limit(event){
                if(event.target.checked){ 
                    count ++;
                }else {
                    if(count <2){
                        count--;
                    }else{
                        event.preventDefault() -> 이벤트 발생하는걸 취소시킴.
                    }
                }
            }
        */
        
       function maxSeat(obj){
           if(seatEA.includes(obj.value)){
               seatEA = seatEA.filter((elm)=>elm !== obj.value);
               obj.checked = false;
            }else{
                if(seatEA.length<2){
                    seatEA.push(`${obj.value}`);
                }else{
                    alert("최대 2개입니다.");
                    obj.checked = false;
                }
            }
            // console.log(seatEA);
        }
        function rst(){
            seatEA = [];
            // console.log(seatEA);
        }
        

    </script>
</body>

</html>