<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
            margin: 10px;
            align-items: center;
        }
    </style>

</head>

<body>
    <h2>영화 무료 관람 예약 <small>(영화사 이벤트 2022.07.08 한정)</small></h2>
    <div style="display: flex;">
        <div>
            <label><%= movie[0].name %></label>
            <p>         
                <a href = "/seat?code=<%=movie[0].id%>">
                    <img src = "<%=movie[0].img%>" width="200px" >
                </a>                  
               
            </p>
        </div>
        <div>
            <label><%= movie[1].name %></label>
            <p>         
                <a href = "/seat?code=<%=movie[1].id%>">
                    <img src = "<%=movie[1].img%>" width="200px" >
                </a>                  
               
            </p>
        </div>
        <div>
            <label><%= movie[2].name %></label>
            <p>         
                <a href = "/seat?code=<%=movie[2].id%>">
                    <img src = "<%=movie[2].img%>" width="200px" >
                </a>                  
               
            </p>
        </div>
        <div>
            <label><%= movie[3].name %></label>
            <p>         
                <a href = "/seat?code=<%=movie[3].id%>">
                    <img src = "<%=movie[3].img%>" width="200px" >
                </a>                  
               
            </p>
        </div>
    </div>
</body>

</html>