<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail View</title>
</head>
<style>
    p{
        font-size: large;
        color: rgb(18, 105, 18);
    }
    h2{
        background-color: rgb(1, 66, 1);
        color: white;
        padding: 10px;
    }
    button{
        background-color: rgb(1, 66, 1);
        color: white;
        border-color: rgb(1, 66, 1) ;
        border-radius: 5px;
    }
    textarea{
        width: 490px;
        border : solid;
        border-color: rgb(1, 66, 1) ;
        border-radius: 5px;
    }
    a{
        font-size: 3px;
        color: rgb(18, 105, 18);
    }
    .article{
        width: 500px;
        padding: 10px;
        margin-top: 10px;
        border : solid;
        border-color: rgb(1, 66, 1) ;
        border-radius: 5px;
    }
    .post{
        width: 500px;
        padding: 10px;
        margin-top: 10px;
        border : solid;
        border-color: rgb(1, 66, 1) ;
        border-radius: 5px;
    }
    #cmtBt{
        background-color: rgb(1, 66, 1);
        color: white;
        border-color: rgb(1, 66, 1) ;
        border-radius: 5px;
    }
</style>
<body>
    <!--상세보기 본문-->
    <div class="article">
        <div id="inline">
            <span><img src=<%=post.writerImage??"/user/static/default.jpg"%> width="30" height="30" style="display: inline; border-radius : 70%"></span> 
            <span style = "color: rgb(18, 105, 18);"><b><%=post.writerId%></b></span> <span style="font-size: 2px; color: gray;">@<%=post.writerName%> </span>
        </div>

        <div>
            <p><%=post.post%></p>
        </div>

        <%if(post.attaches){%>
            <% post.attaches.forEach(elm =>{%>
                <div >
                    <img src=<%=elm%> width="200" height="200" >
                </div>
            <%})%>
        <%}%>

        <div>
            <p style="display: inline;">🗨 <%=post.comments.length%></p>
            <p style="display: inline; font-size: 10px;"><%=new Date(post.createdAt).toLocaleString()%></p>
        </div>
    </div>
    

    <!--본문의 댓글 달기-->
    <div class="article">
        <p><b>@<%=post.writerName%>님에게 답글하기</b></p>
        <input id="postId" type="hidden" value="<%=post._id%>" />
        <input id="writerId" type="hidden" value="<%=post.writerId%>" />
        <textarea id="cmt"></textarea>
        <input id="cmtBt" type="button" value="답글달기"></button>
    </div>

    <!--댓글들 불러오기-->
    <div class="comment_list">
        <%if(post.comments.length !== 0){%>
            <% postComments.forEach((elm)=>{%>
                <div class="article">
                    <span><img src=<%=elm.cmtImage??"/user/static/default.jpg"%> width="30" height="30" style="display: inline; border-radius : 70%"></span> 
                    <span style = "color: rgb(18, 105, 18);"><b><%=elm.cmtID%></b></span> <span style="font-size: 2px; color: gray;">@<%=elm.cmtName%> </span>
                    <p style="display: inline-block; font-size: 10px;"><%=new Date(elm.createdAt).toLocaleString()%></p>
                    <p ><%=elm.comment%></p> 
                </div>
            <%})%>
        <%}%>
    </div>

    <script>
        document.querySelector("#cmtBt").onclick = (evt)=>{
            const data = {
                comment : document.querySelector("#cmt").value,
                postId : document.querySelector("#postId").value,
                writerId : document.querySelector("#writerId").value,
            }
            fetch("/article/api/comment",{
                method : "post", //전달 방식
                body : JSON.stringify(data), //body로 전달할 내용
                headers : {
                    "Content-type" : "application/json"
                }
            })
            .then((res)=>{
                return res.json();
            }).then((rst)=>{
                console.log(rst)
                let newComment = document.createElement("div");
                let cmtImage = rst.cmtImage ?? "/user/static/default.jpg"
                newComment.innerHTML = `
                <span><img src=${cmtImage} width="30" height="30" style="display: inline; border-radius : 70%"></span> 
                <span style = "color: rgb(18, 105, 18);"><b>${rst.cmtId}</b></span> <span style="font-size: 2px; color: gray;">@${rst.cmtName}</span>
                <p style="display: inline-block; font-size: 10px;">${new Date(rst.createdAt).toLocaleString()}</p>
                <p >${rst.comment}</p> 
                `
                newComment.className = "article"
                document.querySelector(".comment_list").appendChild(newComment);
            })
        }
    </script>
</body>
</html>